.ReferencesSection {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__links {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}