// -----------------------------------------------------------------------------
// Paragraph
// -----------------------------------------------------------------------------
// S
$paragraphFontSize-s: 10px;
$paragraphLineHeight-s: 12px;
// M
$paragraphFontSize-m: 12px;
$paragraphLineHeight-m: 16px;
// L
$paragraphFontSize-l: 14px;
$paragraphLineHeight-l: 18px;
// XL
$paragraphFontSize-xl: 16px;
$paragraphLineHeight-xl: 20px;

// -----------------------------------------------------------------------------
// Heading
// -----------------------------------------------------------------------------
// S
$headingFontSize-s: 18px;
$headingLineHeight-s: 22px;
// M
$headingFontSize-m: 20px;
$headingLineHeight-m: 28px;
// L
$headingFontSize-l: 22px;
$headingLineHeight-l: 32px;
// XL
$headingFontSize-xl: 28px;
$headingLineHeight-xl: 40px;

// -----------------------------------------------------------------------------
// FontWeights
// -----------------------------------------------------------------------------
// Regular
$fontWeightRegular: 400;
// Medium
$fontWeightMedium: 500;
// Semibold
$fontWeightSemibold: 600;
// Bold
$fontWeightBold: 700;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
// PrimaryColors
$primary40: #005AC1;
$primary100: #FFFFFF;
$primary90: #D8E2FF;
$primary10: #001A41;
// Secondary
$secondary40: #062e9d;
$secondary100: #FFFFFF;
$secondary90: #DBE2F9;
$secondary10: #141B2C;
// Tertiary
$tertiary40: #185DB4;
$tertiary100: #FFFFFF;
$tertiary90: #D7E2FF;
$tertiary10: #001B3F;
// Error
$error40: #BA1A1A;
$error100: #FFFFFF;
$error90: #FFDAD6;
$error10: #410002;

$inputBackground: #F5F3F7;


$black: #1B1B1F;
$gray: #44474F;
$white: #FFFFFF;