.LoginModal {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}